[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn
	branch = main

[submodule "content"]
	path = content
	url = https://github.com/sivadotblog/sivadotblog.github.io
